USE [PROYECTO_ING_DB]
GO
/****** Objeto: Table [dbo].[ActivityLogs] Fecha de script: 30/8/2026 18:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[id_activity_log] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[id_activity_type] [int] NOT NULL,
	[date_activity] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ActivityLog] PRIMARY KEY CLUSTERED 
(
	[id_activity_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ActivityTypes] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityTypes](
	[id_activity_type] [int] NOT NULL,
	[activity_description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ActivityTypes] PRIMARY KEY CLUSTERED 
(
	[id_activity_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UsersAccounts] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersAccounts](
	[id_user] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[userpassword] [varchar](100) NOT NULL,
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[email_opt_1] [varchar](100) NOT NULL,
	[email_opt_2] [varchar](100) NULL,
	[id_user_status] [int] NOT NULL,
 CONSTRAINT [PK_UsersAccounts] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UsersStatus] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersStatus](
	[id_status] [int] NOT NULL,
	[status_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UsersStatus] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ActivityLogs] ([id_activity_log], [username], [id_activity_type], [date_activity]) VALUES (1, N'admin', 101, CAST(N'2026-08-30T03:16:01.0833333' AS DateTime2))
INSERT [dbo].[ActivityLogs] ([id_activity_log], [username], [id_activity_type], [date_activity]) VALUES (2, N'admin', 101, CAST(N'2026-08-30T16:19:26.4966667' AS DateTime2))
INSERT [dbo].[ActivityLogs] ([id_activity_log], [username], [id_activity_type], [date_activity]) VALUES (3, N'admin', 210, CAST(N'2026-08-30T16:20:05.8600000' AS DateTime2))
GO
INSERT [dbo].[ActivityTypes] ([id_activity_type], [activity_description]) VALUES (101, N'Login')
INSERT [dbo].[ActivityTypes] ([id_activity_type], [activity_description]) VALUES (102, N'Login failed')
INSERT [dbo].[ActivityTypes] ([id_activity_type], [activity_description]) VALUES (103, N'Logout')
GO
INSERT [dbo].[UsersAccounts] ([id_user], [username], [userpassword], [firstname], [lastname], [email_opt_1], [email_opt_2], [id_user_status]) VALUES (N'1', N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'administrador', N'administrador', N'admin@dominio.com', N'', 1)
INSERT [dbo].[UsersAccounts] ([id_user], [username], [userpassword], [firstname], [lastname], [email_opt_1], [email_opt_2], [id_user_status]) VALUES (N'2', N'test1', N'1b4f0e9851971998e732078544c96b36c3d01cedf7caa332359d6f1d83567014', N'Test 1', N'Test 1', N'test1@dominio.com.ar', N'', 1)
INSERT [dbo].[UsersAccounts] ([id_user], [username], [userpassword], [firstname], [lastname], [email_opt_1], [email_opt_2], [id_user_status]) VALUES (N'3', N'test2', N'60303ae22b998861bce3b28f33eec1be758a213c86c93c076dbe9f558c11c752', N'Tester 2', N'Tester 2', N'test2@dominio.com', N'', 1)
GO
INSERT [dbo].[UsersStatus] ([id_status], [status_name]) VALUES (1, N'Habilitado')
INSERT [dbo].[UsersStatus] ([id_status], [status_name]) VALUES (2, N'Deshabilitado')
INSERT [dbo].[UsersStatus] ([id_status], [status_name]) VALUES (3, N'Bloqueado')
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_UsersAccounts_Username] Fecha de script: 30/8/2026 18:27:59 ******/
ALTER TABLE [dbo].[UsersAccounts] ADD  CONSTRAINT [UQ_UsersAccounts_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_ActivityTypes] FOREIGN KEY([id_activity_type])
REFERENCES [dbo].[ActivityTypes] ([id_activity_type])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_ActivityTypes]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_UsersAccounts1] FOREIGN KEY([username])
REFERENCES [dbo].[UsersAccounts] ([username])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_UsersAccounts1]
GO
ALTER TABLE [dbo].[UsersAccounts]  WITH CHECK ADD  CONSTRAINT [fk_useraccount_userstatus] FOREIGN KEY([id_user_status])
REFERENCES [dbo].[UsersStatus] ([id_status])
GO
ALTER TABLE [dbo].[UsersAccounts] CHECK CONSTRAINT [fk_useraccount_userstatus]
GO
/****** Objeto: StoredProcedure [dbo].[SP_ActivityLog_Insertar] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ActivityLog_Insertar]
@username VARCHAR(50),
@id_activity_type INT,
@date_activity DATETIME2
AS

BEGIN
	declare @id_activity_log INT
	SET @id_activity_log = (SELECT ISNULL(MAX(id_activity_log),0) + 1 FROM ActivityLogs)

	INSERT INTO ActivityLogs (
		id_activity_log,
		username,
		id_activity_type,
		date_activity
	) VALUES (
		@id_activity_log,
		@username,
		@id_activity_type,
		@date_activity
	);
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ActivityLog_ObtenerTodos] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ActivityLog_ObtenerTodos]
AS

BEGIN
	
	SELECT 
		AL.id_activity_log,
		AL.username,
		AL.id_activity_type,
		AL.date_activity,
		A_T.activity_description
	
	FROM ActivityLogs AS AL

	INNER JOIN ActivityTypes AS A_T ON A_T.id_activity_type = AL.id_activity_type

END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UsersAccounts_CambiarPassword] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============= SP - UserAccounts - Cambiar password ============= */

-- Este SP permite modificar el password de la cuenta de usuario.

CREATE PROC [dbo].[SP_UsersAccounts_CambiarPassword]
@username VARCHAR(50),
@newpass VARCHAR(100)
AS

BEGIN
	
	UPDATE UsersAccounts

	SET userpassword = @newpass

	WHERE username = @username;

END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UsersAccounts_Deshabilitar] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UsersAccounts_Deshabilitar]
@username VARCHAR(50),
@id_user_status INT
AS

BEGIN
	
	UPDATE UsersAccounts

	SET id_user_status = @id_user_status

	WHERE username = @username;

END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UsersAccounts_Habilitar] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UsersAccounts_Habilitar]
@username VARCHAR(50),
@id_user_status INT
AS

BEGIN
	
	UPDATE UsersAccounts

	SET id_user_status = @id_user_status

	WHERE username = @username;

END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UsersAccounts_Insertar] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UsersAccounts_Insertar]
@username VARCHAR(50),
@userpassword VARCHAR(100),
@firstname VARCHAR(50),
@lastname VARCHAR(50),
@email_opt_1 VARCHAR(100),
@email_opt_2 VARCHAR(100),
@id_user_status INT
AS

BEGIN
	declare @id_user int
	SET @id_user = (SELECT ISNULL(MAX(id_user),0) + 1 FROM UsersAccounts)

	INSERT INTO UsersAccounts (
		id_user,
		username,
		userpassword,
		firstname,
		lastname,
		email_opt_1,
		email_opt_2,
		id_user_status
	) VALUES (
		@id_user,
		@username,
		@userpassword,
		@firstname,
		@lastname,
		@email_opt_1,
		@email_opt_2,
		@id_user_status
	);
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UsersAccounts_Login] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UsersAccounts_Login]
@username VARCHAR(50),
@userpassword VARCHAR(100)
AS

BEGIN
	
	SELECT 
		UA.id_user,
		UA.username,
		UA.userpassword,
		UA.firstname,
		UA.lastname,
		UA.email_opt_1,
		UA.email_opt_2,
		UA.id_user_status,
		US.status_name
	
	FROM UsersAccounts UA
	
	INNER JOIN UsersStatus AS US ON UA.id_user_status = US.id_status
	
	WHERE UA.id_user_status = 1
		AND UA.username = @username 
		AND UA.userpassword = @userpassword

END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UsersAccounts_ModificarPerfil] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============= SP - UserAccounts - Modificar perfil ============= */

-- Este SP permite modificar los datos básicos de una 'UserAccount':
-- nombre, apellido, email 1 o email 2.

CREATE PROC [dbo].[SP_UsersAccounts_ModificarPerfil]
@username VARCHAR(50),
@pass VARCHAR(100),
@firstname VARCHAR(50),
@lastname VARCHAR(50),
@email_opt_1 VARCHAR(100),
@email_opt_2 VARCHAR(100)
AS

BEGIN
	
	UPDATE UsersAccounts

	SET firstname = @firstname,
		lastname = @lastname,
		email_opt_1 = @email_opt_1,
		email_opt_2 = @email_opt_2

	WHERE username = @username;

END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UsersAccounts_ObtenerPorEstado] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UsersAccounts_ObtenerPorEstado]
@id_user_status INT
AS

BEGIN
	
	SELECT 
		id_user,
		username,
		firstname,
		lastname,
		email_opt_1,
		email_opt_2,
		id_user_status
	
	FROM UsersAccounts
	WHERE id_user_status = @id_user_status
	ORDER BY username ASC

END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UsersAccounts_ObtenerTodos] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UsersAccounts_ObtenerTodos]
AS

BEGIN
	
	SELECT 
		UA.id_user,
		UA.username,
		UA.userpassword,
		UA.firstname,
		UA.lastname,
		UA.email_opt_1,
		UA.email_opt_2,
		UA.id_user_status,
		US.status_name
	
	FROM UsersAccounts AS UA

	INNER JOIN UsersStatus AS US ON UA.id_user_status = US.id_status;

END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UsersStatus_ObtenerTodos] Fecha de script: 30/8/2026 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UsersStatus_ObtenerTodos]
AS

BEGIN
	
	SELECT 
		id_status,
		status_name
	
	FROM UsersStatus
	ORDER BY id_status ASC;

END
GO
USE [master]
GO
